body {
  font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
  text-decoration: none;
}
.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
  h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }
}
.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  &--top {
    position: fixed;
    top: 0;
  }
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  &:hover {
    color:white;
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
  }
}
.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs,
  .et-slide {
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}
$m: #21264B;
$iconmargin: 35px;
body {
  background-color: $m;
  overflow-x:hidden;
  .base {
    z-index: 90;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 98px;
    height: 98px;
    transition: all 1s cubic-bezier(0.50, -0.75, 0.05, 1);
    border-bottom-right-radius: 100%;
    //overflow:hidden;
    .menu {
      z-index: 100;
      background-color: #FFFFFF;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100px;
      height: 100px;
      border-bottom-right-radius: 200px;
      cursor: pointer;
      transition: all 1s cubic-bezier(0.50, -0.75, 0.05, 1), background-color 1s ease;
      .icon {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -100%);
        &:before,
        &:after {
          content: '';
          transform: rotate(0deg);
          transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s;
        }
        .bar,
        &:before,
        &:after {
          position: absolute;
          height: 5px;
          left: 0px;
          right: 0px;
          border-radius: 5px;
          background-color: $m;
        }
        .bar {
          transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
          opacity: 1;
          top: 10px;
        }
        &:before {
          top: 0px;
        }
        &:after {
          top: initial;
          top: 20px;
        }
      }
    }
    .icons {
      z-index: 98;
      position: absolute;
      top:0px;
      left:0px;
      >* {
        position: absolute;
        font-size:40px;
        color:$m;
        transition: 0.3s cubic-bezier(0.50, -0.25, 0.05, 1);
      }
      .fa-user {
        top:$iconmargin;
        left:0px;
        transition-delay:0.2s;
      }
      .fa-calendar-o {
        top:0px;
        left:0px;
        color:#fff;
        transition-delay:0.1s;
      }
      .fa-tachometer {
        top:0px;
        left:$iconmargin;
      }
    }
    .section {
      z-index: 96;
      position: absolute;
      top:0px;
      left:0px;
      height:0px;
      width:0px;
      transform-origin: 100% 100%;
      transform:rotate(135deg);
      .cover1 {
        transform-origin: 100% 100%;
        &,
        .cover2,
        .cover2 .content {
          position: absolute;
          width: 600px;
          height: 600px;
        }
        &,
        .cover2 {
          top: 50%;
          left: 50%;
          transform: translate(-100%, -100%) rotate(4deg);
          overflow: hidden;
          pointer-events:none;
          transition:transform 0.5s ease-in;
        }
        .cover2 {
          transform: translate(50%, -50%) rotate(-8deg);
          transform-origin: 0% 100%;
          .content {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background-color: #EE1B59;
            top: 100%;
            left: 0%;
            transform: translate(-50%, -50%);
            transition: background-color 0s, width 1.5s cubic-bezier(0.50, -0.5, 0.05, 1) 0s, height 1.5s cubic-bezier(0.50, -0.5, 0.05, 1) 0s;
            pointer-events: auto;
          }
        }
      }
    }
    .section-static {
      z-index: 94;
      width:100px;
      height:100px;
      position: absolute;
      top:0px;
      left:0px;
      transform-origin:0% 0%;
      transition: width 1s cubic-bezier(0.50, -0.75, 0.05, 1), height 1s cubic-bezier(0.50, -0.75, 0.05, 1);
      &:hover {
        background-color:#EAEAEA;
      }
      &.top {
        transform:rotate(-45deg);
        border-bottom-right-radius: 400px;
      }
      &.bottom {
        transform:rotate(45deg);
        border-bottom-right-radius:400px;
      }
    }
    &.close {
      width: 300px;
      height: 300px;
      transition: all 1.25s cubic-bezier(0.50, 0, 0.05, 1.75);
      .menu {
        width: 150px;
        height: 150px;
        transition: all 1s cubic-bezier(0.50, 0, 0.05, 1.75), background-color 1s ease;
        background-color: $m;
        .icon {
          .bar,
          &:before,
          &:after {
            background-color: #FFFFFF;
          }
          .bar {
            opacity: 0;
          }
          &:before,
          &:after {
            transition: top 0.5s linear, transform 0.5s ease 0.5s, background-color 0.75s ease 0.25s;
          }
          &:before {
            top: 10px;
            transform: rotate(-45deg);
          }
          &:after {
            top: 10px;
            transform: rotate(45deg);
          }
        }
      }
      .icons {
        position: absolute;
        top:0px;
        left:0px;
        >* {
          position: absolute;
          font-size:40px;
          color:$m;
          transition: 0.3s cubic-bezier(0.50, 0, 0.05, 1.75) 0.7s;
          pointer-events:none;
        }
        .fa-user {
          top:$iconmargin;
          left:200px;
        }
        .fa-calendar-o {
          top:141px;
          left:141px;
          color:#fff;
          transition-delay:0.65s;
        }
        .fa-tachometer {
          top:200px;
          left:$iconmargin;
          transition-delay:0.8s;
        }
      }
      .section {
        .cover1 {
          transform-origin: 100% 100%;
          &,
          .cover2,
          .cover2 .content {
            position: absolute;
            width: 600px;
            height: 600px;
          }
          &,
          .cover2 {
            top: 50%;
            left: 50%;
            transform: translate(-100%, -100%) rotate(16deg);
            overflow: hidden;
            transition:transform 0.5s ease-in 0.5s;
          }
          .cover2 {
            transform: translate(50%, -50%) rotate(-32deg);
            transform-origin: 0% 100%;
            .content {
              border-radius: 100%;
              background-color: #EE1B59;
              top: 100%;
              left: 0%;
              transform: translate(-50%, -50%);
              transition: background-color 0s, width 1.1s cubic-bezier(0.50, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.50, 0, 0.05, 2) 0.25s;
              &:hover {
                background-color:#DD1350;
              }
            }
          }
        }
      }
      .section-static {
        width:300px;
        height:300px;
        transition: width 1.25s cubic-bezier(0.50, 0, 0.05, 2), height 1.25s cubic-bezier(0.50, 0, 0.05, 2);
      }
    }
  }
}
body {
  /*font-family: serif !important;*/
  background: #222;
  color: #eee;
  overflow: hidden;
}

a {
  color: #fff;
}

a:hover {
  color: gray;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.site {
  /*padding: 70px;*/
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 50px;
  z-index: 9;
}

.header {
  top: 0;
  padding-top: 50px;
  pointer-events: none;
}

.header:after {
  content: ' ';
  width: 100%;
  height: 100px;
  position: absolute;;
  z-index: 9;
  top: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,000000+100&1+0,0+50 */
  background: -moz-linear-gradient(top,  rgba(34,34,34,1) 0%,rgba(34,34,34,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(34,34,34,1) 0%,rgba(34,34,34,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(34,34,34,1) 0%,rgba(34,34,34,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

}

.header > * {
  position: relative;
  z-index: 10;
  pointer-events: all;
}hr.small {
   width: 50px;
 }

.details {
  position: fixed;
  width: 500px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  .title {
    margin-bottom: 0;
  }
  .button {
    background: transparent;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 1rem;
    &:hover {
      background: #fff;
      color: #222;
    }
  }
}

// Slider
.svg-mask {
  position: absolute;
}

.featured-slider {
  position: relative;
  margin: 0;
  height: 0;
  width: 0;
  top: 0;
  left: 50%;
  transform: scale(0.75) translateY(-100px);
  // pointer-events: none;
  li {
    user-select: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    opacity: 0.25;
    &.active {
      opacity: 1;
    }
    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &:nth-child(3) {
      transform: translate(-50%, -50%) rotate(180deg);
    }
    &:nth-child(4) {
      transform: translate(-50%, -50%) rotate(270deg);
    }
    .image {
      width: 1200px;
      height: auto;
      transform: translate(1px, 728px);
      img {
        clip-path: url(#quarterMask);
      }
    }
  }
}

nav {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  .prev,
  .next {
    background-color: black;
    // border-radius: 100px;
    padding: 0.25rem 0.5rem;
    color: white;
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}